<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/56d7ee2732.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../public/css/homeStyle.css">
        <title>Portfolio</title>
        <link rel="icon"  type = "img/png" href="img/favicon.png">
    </head>
    <body>
        <header>
            <nav>
                <span class="navItems"><a href="/">Home</a></span>
                <span class="navItems"><a href="/resume">Resume</a></span>
                <span class="navItems"><a href="/facts">Fun Facts</a></span>
                <!-- <span class="navItems"><a href="html/blog.html">Blog</a></span> -->
            </nav>
        </header>

        <br>

        <main>
            <div class="picture">
                <img src="../public/img/self_picture.png"width="70%"alt="a picture of the website maker">
                <p>&emsp; <cite>The years start coming and they don't stop coming.</cite> All Star - Smash Mouth </p>
            </div>

            <div class="description">
                <p>Hi, my name is Dasha Demetria, and I'm a student currently studying
                    at Oakland University. I'm from Wixom, Michigan, and I'm currently pursuing a 
                    degree in Information Technology. I'm currently undecided about what branch of IT
                    I'd like to head into, but it'd be fun to learn more about it. 
                </p>
                <p>If you'd like to learn more about me, click the links below!</p>
                <a href="/resume">Resume</a>
                <a href="/facts">Fun Facts</a>

                <h3>progress to degree</h3>
                <progress value="87" max="128"></progress>
            </div>
        </main>

        <footer>
            <hr>
            <span>&copy; Dasha Demetria</span>
            <span><a href = "mailto: drdemetria@oakland.edu">Email Me! <i class="fas fa-envelope-square"></i></a></span>
        </footer>
    </body>
</html>