<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/blogStyle.css">
    <script src="../js/tired.js" defer></script>

    <link rel="icon"  type = "img/png" href="../img/favicon.png">
    <title>Blog</title>
</head>
<body>
    <header>
        <nav>
            <span class="navItems"><a href="../index.html">Home</a></span>
            <span class="navItems"><a href="resume.html">Resume</a></span>
            <span class="navItems"><a href="facts.html">Fun Facts</a></span>
            <span class="navItems"><a href="blog.html">Blog</a></span>
        </nav>
    </header>
    <main>
        <h1>Omori</h1>
        <iframe width="640" height="480" src="https://www.youtube.com/embed/CyVv-jFJiJ8">Trailer for the video game, Omori</iframe>
        <p>This is a trailer showcasing animation and gameplay from the video game, Omori, developed by omocat</p>
        <button id="insertComment">Leave a comment!</button>
        <br>
        <div id="commentSection"></div>
    </main>

    <footer>
        <hr>
        <span>&copy; Dasha Demetria</span>
        <span><a href = "mailto: drdemetria@oakland.edu">Email Me! <i class="fas fa-envelope-square"></i></a></span>
    </footer>
    
</body>
</html>