<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/56d7ee2732.js" crossorigin="anonymous"></script>
        <title>Portfolio</title>
        <link rel="stylesheet" href="../../public/css/factStyle.css">
        <link rel="icon"  type = "img/png" href="../../public/img/favicon.png">
    </head>
    <body>
        <header>
            <nav>
                <span class="navItems"><a href="/">Home</a></span>
                <span class="navItems"><a href="/resume">Resume</a></span>
                <span class="navItems"><a href="/facts">Fun Facts</a></span>
                <span class="navItems"><a href="/trivia">Trivia</a></span>
                <!-- <span class="navItems"><a href="blog.html">Blog</a></span> -->
            </nav>
            <h1>Some Fun Facts About Me</h1>
        </header>

        <main>
            <div class="book">
                <h3>The Knife of Never Letting Go</h3>
                <img src="https://images-na.ssl-images-amazon.com/images/I/81Mf6+Sf6ML.jpg"alt="The book cover for The Knife of Never Letting Go" width="40%">
                <br>
                <a href="https://www.amazon.com/Knife-Never-Letting-Reissue-bonus/dp/0763676187"aria-label="Link to buy The Knife of Never Letting Go.">Buy it here!</a>
                <p>A sci-fi book that takes place in a dystopian world where everyone can hear everyone's thoughts. I really like the way
                    that this book is written because the text styling and misspelled words really help with the immersion. It feels like reading
                    someone's actual journal about what happens in the story.
                </p>
            </div>
            <br>
            <div class="music">
                <h3>The Internet's Ruined Me - Wilbur Soot</h3>
                <audio controls>
                    <source src="../../public/audio/internet_ruined_me.mp3" type="audio/mp3">
                    Audio not supported by browser.
                </audio>
                <br>
                <a href="https://www.youtube.com/watch?v=arCoXdUC3wI&ab_channel=WilburSoot">Listen to the full song here! <i class="fab fa-youtube"></i></a>
            </div>
            <br>
            <div class="television">
                <h3>A Silent Voice</h3>
                <iframe width="640" height="360" source src="https://www.youtube.com/embed/nfK6UgLra7g">Trailer for the movie, A Silent Voice</iframe>
            </div>
        </main>

        <footer>
            <hr>
            <span>&copy; Dasha Demetria</span>
            <span><a href = "mailto: drdemetria@oakland.edu">Email Me! <i class="fas fa-envelope-square"></i></a></span>
        </footer>

    </body>
</html>