<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/56d7ee2732.js" crossorigin="anonymous"></script>
        <title>Portfolio</title>
        <link rel="stylesheet" href="../../public/css/resumeStyle.css">
        <link rel="icon"  type = "img/png" href="../../public/img/favicon.png">
    </head>
    <body>
        <header>
            <nav>
                <span class="navItems"><a href="/">Home</a></span>
                <span class="navItems"><a href="/resume">Resume</a></span>
                <span class="navItems"><a href="/facts">Fun Facts</a></span>
                <span class="navItems"><a href="/trivia">Trivia</a></span>
                <!-- <span class="navItems"><a href="blog.html">Blog</a></span> -->
            </nav>
        </header>

        <main>
            <h1>Dasha Demetria - Resume</h1>
            <h2>2292 Pawnee Dr,Wixom MI &emsp; drdemetria@oakland.edu &emsp; (248)826-3451</h2>
        
        <div class="objective">
            <h3>Objective <i class="fas fa-bullseye"></i></h3>
            <p>Hoping to pass college without any hitches, and maybe land an internship involving 
                coding over the summer of 2022.
            </p>
        </div>

        <br>

        <div class="professional_experience">
            <h3>Professional Experience <i class="fas fa-user-tie"></i></h3>
            <h4>June 2018 - May 2021, Waiter, Sushi Den, Walled Lake MI</h4>
            <p>Worked as a waiter for a quaint Japanese sushi restaurant.</p>
        </div>

        <br>

        <div class="education">
            <h3>Educational Experience <i class="fas fa-school"></i></h3>
            <table>
                <tr>
                    <th>Start -- End</th>
                    <th>Degree</th>
                </tr>
                <tr>
                    <td>2019-2024</td>
                    <td>Information Technology - Oakland University</td>
                </tr>
            </table>
        </div>

        <br> 

        <div class="hobbies">
            <h3>Extracurriculars and Hobbies <i class="fas fa-paint-brush"></i></h3>
            <p>I play guitar and piano in my free time. I also draw sometimes.</p>
        </div>   

        </main>

        <footer>
            <hr>
            <span>&copy; Dasha Demetria</span>
            <span><a href = "mailto: drdemetria@oakland.edu">Email Me! <i class="fas fa-envelope-square"></i></a></span>
        </footer>
    </body>
</html>